<div class="wrapper">

	<!-- Main Header -->
	<header class="main-header">
		<div ui-view="header"></div>
	</header>

	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<div ui-view="sidebar"></div>
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<!-- <div class="content-wrapper"> -->
	<div class="content-wrapper">
		<div ui-view="body"></div>
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<div ui-view="footer"></div>
	</footer>
	<div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->