
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{ moduleName }} <small>{{ description }}</small>
	</h1>
</section>

<!-- Main content -->
<section class="content">
	<!-- Your Page Content Here -->
	<!-- Default box -->
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">{{ heading }} &nbsp;</h3>
		</div>
		<div class="box-body">
			<div class="login-box">
				<form id="updatePasswordForm" name="updatePasswordForm"
					ng-model="updatePasswordForm" novalidate>
					<div class="login-box-body">
						<p class="login-box-msg">Update Password</p>
						<div class="form-group has-feedback">
							<input type="text" class="form-control" placeholder="Username"
								ng-model="user.username" ng-disabled="true" required /> <span
								class="glyphicon glyphicon-user form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input type="password" class="form-control"
								placeholder="Old Password" ng-model="user.password"
								ng-minlength="5" required /> <span
								class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input type="password" class="form-control" ng-minlength="5"
								placeholder="Confirm Password" ng-model="user.confirmPassword"
								required /> <span
								class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="row">
							<div class="col-xs-8"></div>
							<!-- /.col -->
							<div class="col-xs-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat"
									ng-click="updatePassword()"
									ng-disabled="updatePasswordForm.$invalid">Update</button>
							</div>
							<!-- /.col -->
						</div>
					</div>
					<!-- /.login-box-body -->
				</form>
			</div>
			<!-- /.login-box -->
		</div>
		<!-- /.box-body -->
		<!-- <div class="box-footer">
              Footer
            </div> -->
		<!-- /.box-footer-->
	</div>
	<!-- /.box -->
</section>
<!-- /.content -->

