<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- Sidebar Menu -->
	<ul class="sidebar-menu">
		<li class="header">MAIN NAVIGATION</li>
		<!-- Optionally, you can add icons to the links -->
		<li ui-sref-active="active"><a ui-sref="base.dashboard"> <i
				class="fa fa-tachometer"></i> <span> Dashboard</span>
		</a></li>
		<li class="treeview" ui-sref-active="active"><a
			ui-sref="base.bookCategory"> <i class="fa fa-book"></i> <span>Book
					Category</span>
		</a></li>
		<li class="treeview" ui-sref-active="active"><a
			ui-sref="base.books"> <i class="fa fa-book"></i> <span>Book</span>
		</a></li>
		<li class="treeview" ui-sref-active="active"><a
			ui-sref="base.staff"> <i class="fa fa-user"></i> <span>Staff</span>
		</a></li>
		<li class="treeview" ui-sref-active="active"><a
			ui-sref="base.student"> <i class="fa fa-user"></i> <span>Student</span>
		</a></li>

		<li class="treeview" ui-sref-active="active"><a
			ui-sref="base.issuedBooks"> <i class="fa fa-eye"></i> <span>View
					Issued Books</span>
		</a></li>

		<li class="treeview" ui-sref-active="active"><a
			ui-sref="base.fine"> <i class="fa fa-money"></i> <span>Fine</span>
		</a></li>
		<li ui-sref-active="active"><a ui-sref="base.updatePassword">
				<i class="fa fa-sign-out"></i> <span>Update Password</span>
		</a></li>
	</ul>
	<!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->